/* Universal */

// Typo
// @import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(https://fonts.googleapis.com/css?family=Pinyon+Script|Cardo|Cantata+One|Neuton|Raleway:500);

h1, h2, h3, h5, h6 {text-align: center;}
h1, h2, h3, h4, h5, h6 {font-family: $navfont;}

//Misc
html {
	position: relative;
	min-height: 100%;	
}

.container-fluid, .row {
	width: 100%; 
	margin: 0; 
	padding: 0;
}

body {color: $firstcolor;}

section {margin: 0; padding: 0;}

.container {
	width: 100%;
}

.center {text-align: center;}
.right {text-align: right;}
.left {text-align: left;}

.btn-primary {
	background-color: $firstcolor;
	border: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active, {
	background-color: $secondcolor;
	border: none;
}

/* Layouts */

body.homepage {
	@include bg_size_cover;
	background-image: url(agen.jpg);
	background-color: #c68642;
	background-repeat: no-repeat;
	background-position: center center fixed;
	// background: url(agen.jpg) #c68642 no-repeat center center fixed;
	min-height: 100%;
	h1 {
		font-family: $logofont;
		font-size: 4em;
	}
	span { padding-left: 10px; padding-right: 10px; font-size: 2em;}
}

// Top Nav
#logo {
	float: left;
	font-family: $logofont;
	font-size: 3em;
	margin-right: 2em;
	text-transform: uppercase;
	&:hover {
		text-decoration: none;
	}
}

header {
	text-transform: uppercase;
	font-family: $navfont;
}

header {
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
	ul.nav a:hover, 
	ul.nav a:focus,
	ul.nav a:active {
		background: transparent;
		background-color: transparent;
	}
}

header#regular-nav {
	@include box_shadow;
	a { color:$secondcolor;}
	li.active a {
		background: transparent;
		background-color: transparent;
		color: $firstcolor;
	}
  .dropdown-menu > .active > a, 
  .dropdown-menu > .active > a:hover, 
  .dropdown-menu > .active > a:focus {
  	color: $firstcolor;
    background-color: white;
	}
}

header#home-nav {
	li.active {
		border-bottom-style: solid;
		border-bottom-color: white;
	}
	a {color: white;}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a,
	.navbar-default .navbar-nav .open .dropdown-menu {
		background: transparent;
  }
  .dropdown-menu {
  	border: none;
  	background:transparent;
  	box-shadow: none;
  }
}

// Footer
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5vh;
	background-color: #151515;
	color: #fff;
	font-size: 0.8em;
	padding: 1.5em;
	ul {
		list-style: none;
	}
}

#home-footer {
	background: transparent;
	background-color: transparent;
}

/* Content */

#description {
	color: white;
	position: absolute;
	top: 25%;
	h1, p, p.icon { text-align: center;}
}

.buttons {
	text-align: center;
	.btn {
		margin-left: 1em;
		margin-right: 1em;
	}
}

.side-photo {
	img {
	width: 100%;
	position: absolute;
	left: 0;
	padding: 0;
	height: 89vh;
	overflow: none;
	}
}

#map {
	position: absolute;
	left: 0;
	width: 100%;
	height: 89vh;
}

aside {
	min-height: 89vh;
	overflow: auto;
	section {
		padding-left: 10%;
		padding-right: 10%;
	}
	
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px ) {
	.side-photo img {
		height: 89vh;
		overflow: none;
	}
	aside {
		height: 85vh;
		overflow: auto;
		section:last-child {margin-bottom: 1.5em;}
	}
	footer {
		height: 7vh;
		padding: 1em;
	}
}

@media screen and (max-width: 991px ) {
	.col-sm-12 {
		padding: 0;
	}
	aside {
		height: 75vh;
	}
	.side-photo img {
		height: 25vh;
		position: static;
		margin: 0;
		width: 100%;
		overflow: hidden;
	}
	#map {
		height: 25vh;
		position: static;
	}
	#logo {display: none;}
}

@media screen and (max-width: 752px ) {

}

