/* Universal */

// Typo
@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);

//Misc
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom = footer height */
	// margin-bottom: 5em;
}

section {margin: 0; padding: 0;}

.container {
	width: 100%;
}

.center {text-align: center;}
.right {text-align: right;}
.left {text-align: left;}

/* Layouts */

body.homepage {
	@include bg_size_cover;
	background-image: url(agen.jpg);
	background-repeat: no-repeat;
	background-position: center center fixed;
	height: 89vh;
}

// Top Nav
#logo {
	float: left;
	font-family: 'Pinyon Script', cursive;
	font-size: 3em;
	margin-right: 2em;
	text-transform: uppercase;
	&:hover {
		color: blue;
		text-decoration: none;
	}
}

header#regular-nav {
	@include box_shadow;
	li { font-size: 1.5em;}
}

header#home-nav {
	li { font-size: 1.5em;}
	a {color: white;}
}

// Footer
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 5vh;
	background-color: #151515;
	color: #fff;
	font-size: 0.8em;
	padding: 1.5em;
	ul {
		list-style: none;
	}
}

/* Content */

.side-photo {
	img {
	width: 100%;
	position: absolute;
	left: 0;
	padding: 0;
	height: 89vh;
	overflow: hidden;
	}
}	

