@import url(https://fonts.googleapis.com/css?family=Pinyon+Script|Cardo|Cantata+One|Neuton|Raleway:500);

$logofont: 'Pinyon Script', cursive;
$primaryfont:'Raleway', sans-serif;
$navfont: 'Cardo', serif;