<% provide(:title, 'Home' )%>
<% content_for(:body_class, 'homepage') %>
<% content_for(:nav_id, 'home-nav') %>

<section id="description">
	<p>L’hôtel – restaurant « Le Tout Va Bien » est heureux de vous accueillir en plein cœur de valence d’Agen, ville connue pour ses lavoirs et ses grandes places de marché couvertes.</p>

	<p>Que vous soyez en balade ou en déplacement professionnel, Notre cuisine ou l’une des 21 chambres de notre hôtel pourra sûrement vous ravir. Disposant de TV écran plat, canal+ canal cinéma canal sport, clim réversible, télèphone-reveil, sèche cheveux, bain ou douche…</p>
</section>

