<% provide(:title, 'Hotel') %>
<% content_for(:nav_id, 'regular-nav') %>


<section class="col-md-8 side-photo">
	<%= image_tag("pillows.jpg") %>
</section>
<aside class="col-md-4">
	<h1>Nos chambres</h1>
	<section>	
		<h3>21 chambres à votre disposition.</h3>
		<p>Elles sont équipées d'un écran plat avec accès Canal + Canal cinéma, Canal sport, clim réversible, téléphone, réveil, sèche cheveux, bain ou douche. 2 chambres sont spécialement aménagées pour les personnes à mobilité réduite.</p>
	</section>

	<hr>

	<section class="services">
		<h3>Services gratuits à votre disposition:</h3>
		<ul>
			<li>Connection wifi dans tout l’hôtel.</li>
			<li>Accès handicapé dans tout l’établissement.</li>
			<li>Accès parking (externe à l'Hôtel)</li>
		</ul>	
	</section>

	<hr>

	<section class="opening">
		<h3>Horaires d'ouverture:</h3>
		<p>du lundi au vendredi de 7h à 21 h
		Permanence le Weekend (nous consulter)</p>

		<h3>Petit déjeuner buffet :</h3>
		<p>Du lundi au vendredi de 7h à 10h
		Samedi et dimanche de 8h à 10h</p>
	</section>
	
	<hr>
	
	<section class="buttons">
		<%= link_to 'Reserver', new_reservation_path, remote: true, class: 'btn btn-primary' %>
		<%= link_to 'Tarifs', tarifs_path, remote: true, class: 'btn btn-primary' %>
	</section>
</aside>

<div id="reservation-modal" class="modal fade"></div>
<div id="tarifs-modal" class="modal fade"></div>


