<% provide(:title, 'Restaurant') %>
<% content_for(:nav_id, 'regular-nav') %>

<section class="col-md-8 side-photo">
	<%= image_tag('kitchen.jpg') %>
</section>
<aside class="col-md-4">
	<section id="menu">
		<h3>Menus & Formules</h3>
		<ul>
			<li>Menu Terroir <small>Entrée - Plat - Dessert</small></li>
			<li>Formule Terroir <small>Entrée + Plat OU Plat + Dessert</small></li>
			<br>
			<li>Menu du jour <small>Entrée - Plat - Dessert</small></li>
			<li>Formule du jour <small>Entrée + Plat OU Plat + Dessert</small></li>
			<br>
			<li>Plat du jour </li>
		</ul>
	</section>

	<hr>

	<section class="opening">
		<h3>RESTAUTANT OUVERT :</h3>
		<p>Du lundi au vendredi</p>

		<h4>Service de midi : </h4>
		<p>12H 00 à 13H 30</p>

		<h4>Sercice du soir : </h4>
		<p>19H 30 à 21H 00</p>

		(Les horaires peuvent varier selon la fréquentation)
	</section>
</aside>