<!-- <footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 left">
				<h3>Adresse:</h3>
				<h5>Hôtel Restaurant - LE TOUT VA BIEN</h5>
			  <p>30, place Sylvain Dumon <br>
			  82400 Valence d'Agen <br>
			  RCS Montauban 530 087 790 <br>
				<br>
				letoutvabien935@orange.fr</p>
			</div>
			<div class="col-md-4 center">
				<h3>Horaires d'ouverture:</h3>
				<h5>HÔTEL OUVERT:</h5>
				<p>Du lundi au vendredi de 7h à 21 h <br>
				Permanence le Weekend (nous consulter).</p>

				<h5>RESTAURANT :</h5>
				<p>Du lundi au vendredi.</p>
				<h6>Service de midi:</h6>
				<p>De 12h à 13h30</p>
				<h6>Service du soir:</h6>
				<p>De 19h30 à 21h</p>
			</div>
			<div class="col-md-4 right">
				<ul>
					<h3>Navigation:</h3>
					<li>Hotel</li>
					<li>Restaurant</li>
					<li>Tarifs</li>
					<li>Accès et Contact</li>
					<li>Tourisme</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<hr>
			<p class="center">Copyright &copy;2015. All rights reserved. Created by InkBuddha</p>
		</div>
	</div>
</footer> -->

<footer>
	<div class="col-md-6 left">
		<p id="adresse" class="left">Hôtel Restaurant - LE TOUT VA BIEN. 30, place Sylvain Dumon 82400 Valence d'Agen - RCS Montauban 530 087 790. letoutvabien935@orange.fr</p>		
	</div>
	<div class="col-md-6 right">
		<p>Copyright &copy;2015. All rights reserved. Created by InkBuddha</p>
	</div>
</footer>